{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row">
        <div class="col-12 col-sm-7 col-md-6 m-auto">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary my-2">
                                Сброс пароля
                            </button>
                            <a href="{% url 'login' %}" class="nav-link mt-2">
                                Уже есть аккаунт?
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
