{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="text-center">
        <h1>Введите новый пароль</h1>
    </div>

    <div class="row">
        <div class="col-12 col-sm-7 col-md-6 m-auto">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary my-2">
                                Подтвердите новый пароль
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
