{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="card">
    <div class="card-header">
        <div class='d-flex align-items-center mx-3'>
            <h2 class="me-auto">
                Агент {{ agent.user.username }}
            </h2>
            <a href="{% url 'agents:agent-list' %}" class="nav-link">
                Назад к списку агентов
            </a>
        </div>
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'agents:agent-detail' agent.pk %}">
                    Подробности агента
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'agents:agent-update' agent.pk %}" aria-current="true" class="nav-link active">
                    Изменить подробности агента
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body mx-3">
        <form method="post" class="card py-3 mt-2 border-0 border-bottom border-dark">
            {% csrf_token %}
            {{ form|crispy}}
            <button type="submit" class="btn btn-primary mt-2">
                Подтвердить
            </button> 
        </form>
        <a href="{% url 'agents:agent-delete' agent.pk %}" class="btn btn-danger mt-3">
            Удалить агента
        </a>
    </div>
</div>
{% endblock content %}