{% extends 'base.html' %}

{% block content %}

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">
            KaracCRM Dashboard
        </h1>
        <p class="fs-5 text-body-secondary">
            Что то тут есть
        </p>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
              <h4 class="my-0 fw-normal">
                Всего лидов
              </h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">
                {{ total_lead_count }}
              </h1>
              {% comment %} <ul class="list-unstyled mt-3 mb-4">
                <li>10 users included</li>
                <li>2 GB of storage</li>
                <li>Email support</li>
                <li>Help center access</li>
              </ul> {% endcomment %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
              <h4 class="my-0 fw-normal">
                Лиды, добавленные за последние 30 дней
              </h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">
                {{ total_in_past30 }}
              </h1>
              {% comment %} <ul class="list-unstyled mt-3 mb-4">
                <li>20 users included</li>
                <li>10 GB of storage</li>
                <li>Priority email support</li>
                <li>Help center access</li>
              </ul> {% endcomment %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
              <h4 class="my-0 fw-normal">
                Обращенные лиды за последние 30 дней
              </h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">
                {{ converted_in_past30 }}
              </h1>
              {% comment %} <ul class="list-unstyled mt-3 mb-4">
                <li>30 users included</li>
                <li>15 GB of storage</li>
                <li>Phone and email support</li>
                <li>Help center access</li>
              </ul> {% endcomment %}
            </div>
          </div>
        </div>
      </div>

{% endblock content %}